In [ ]:
!pip install langchain
!pip install OpenAI
!pip install --upgrade --quiet  langchain langchain-community langchain-experimental

In [2]:
from langchain_community.utilities.sql_database import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from langchain.prompts import PromptTemplate
from langchain import LLMChain
from langchain.llms import OpenAI
from langchain.memory import ConversationBufferMemory
OPENAI_API_KEY = 'your api key'

**Built the Assistant**

In [ ]:
llm = OpenAI(openai_api_key=OPENAI_API_KEY, temperature=0.7)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [5]:
import sqlite3
conn = sqlite3.connect('/content/drive/My Drive/SF_trees.db')

In [7]:
c = conn.cursor()
c.execute('''DROP TABLE nyc_trees;''')
c.execute('''CREATE TABLE nyc_trees (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    common_name TEXT,
    scientific_name TEXT,
    location TEXT,
    height_feet INTEGER
);


''')
conn.commit()

In [8]:
c = conn.cursor()
c.execute('''INSERT INTO nyc_trees (common_name, scientific_name, location, height_feet) VALUES
('American Beech', 'Fagus grandifolia', 'Central Park', 50),
('Red Maple', 'Acer rubrum', 'Brooklyn Botanic Garden', 40),
('Northern Red Oak', 'Quercus rubra', 'Prospect Park', 65),
('American Elm', 'Ulmus americana', 'Manhattan', 80),
('Pin Oak', 'Quercus palustris', 'Queens', 70),
('London Plane', 'Platanus Ã— acerifolia', 'Staten Island', 100),
('Honey Locust', 'Gleditsia triacanthos', 'Bronx', 30),
('Japanese Zelkova', 'Zelkova serrata', 'Flushing Meadows Park', 55);

''')
conn.commit()

In [9]:
sqlite_db_path = '/content/drive/My Drive/SF_trees.db'
db = SQLDatabase.from_uri(f'sqlite:///{sqlite_db_path}')

In [ ]:
db_chain = SQLDatabaseChain(llm=llm, database=db, verbose=True, use_query_checker=True)

In [ ]:
db_chain.run("How many species trees are in the database?")